body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

header {
    text-align: center;
    background-color: #222;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    margin: 0;
    text-align: left;
    margin-left: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    max-width: 100%;
    height: auto;
}

.box h2 {
    margin-top: 10px;
}

.box a {
    text-decoration: none;
    color: #333;
}
